@using DAL.Models
@model List<MenuModel>

@{
    Layout = null;
    ViewData["Title"] = "管理後台";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.css" />

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Manager/Home/Home.css" />

    <link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>

    <script src="~/vendor/vue/dist/vue.js"></script>
    <script src="~/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="~/vendor/axios/dist/axios.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
    <title>ShopStore 後台管理系統</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i id="btnHome" class="bx bxl-c-plus-plus"></i>
            <span class="logo_name">ShopStore <br>Manage System</span>
        </div>

        <ul class="nav-links">

            @foreach (var a in Model)
            {
                <li>
                    <div class="icon-link">
                        <a href="#">
                            <i class='bx @a.f_icon'></i>
                            <span class="link_name">@a.f_name</span>
                            <i class="bx bxs-chevron-down"></i>
                        </a>
                    </div>
                    <ul class="sub-menu" parent-id="@a.f_id">
                        @foreach (var b in a.MenuSubModels)
                        {
                            @if (b.f_isopen == 1)
                            {
                                <li><a href="#" data-controller="@b.f_controller">@b.f_name</a></li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>

    <section class="home-section">
        <nav>
            <div class="sidebar-button" type="button">
                <i class="bx bx-menu"></i>
                <span class="dashboard">DashBoard</span>
            </div>
        </nav>

        <div id="app">
            @*            <template>
                <div>
                <b-table striped hover :items="items"></b-table>
                </div>
                </template>

                <template>
                <div>
                <b-form v-on:submit="onSubmit" v-on:reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Email address:" label-for="input-1"
                description="We'll never share your email with anyone else.">
                <b-form-input id="input-1" v-model="form.email" type="email" required
                placeholder="Enter email">

                </b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                <b-form-input id="input-2" v-model="form.name" required placeholder="Enter name">

                </b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
                <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ form }}</pre>
                </b-card>
                </div>
                </template>*@

            @*            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userInput" /></div>
                </div>
                <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
                </div>
                </div>
                </div>*@
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>

        </div>
    </section>
</body>

</html>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Manager/Home/Home.js" type="text/javascript"></script>
<script src="~/js/Manager/Shared/_MainProperties.js" type="text/javascript"></script>
@*<script src="~/js/Manager/Home/chat.js"></script>*@