@page "/counter"
@using ShopStore.ViewModels
@inject ShopStore.Models.Interface.IProducts product

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*@foreach (var a in products)
    {
        <p>@a.f_id</p>
        <p>@a.f_name</p>
        <p>@a.f_categoryId</p>
        <p>@a.f_price</p>
    }*@


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    //private IReadOnlyList<ProductsViewModel>? products;

    private IEnumerable<ProductsViewModel> products;


    //public Task<IEnumerable<ProductsViewModel>> GetProduct()
    //{
    //    var result = product.GetProductsAsync();

    //    return result;
    //}


    //protected override async Task OnInitializedAsync()
    //{
    //    products = await product.GetProductsAsync();

    //}

    public async Task GetProducts(int isopen)
    {
        isopen = 1;
        products = await product.GetProductsAsync(isopen);
    }

}


@{

    if (products != null)
    {
        foreach (var a in products)
        {
            <p>@a.f_id</p>
            <p>@a.f_name</p>
            <p>@a.f_categoryId</p>
            <p>@a.f_price</p>
        }
    }
} 